<header class="header">
  <nav class="nav">
    <div class="links">
      <a routerLink="/welcome">Welcome</a>
      <a routerLink="/assync-tables">Async Tables</a>
      <a routerLink="/forms">Forms</a>
    </div>
    <!-- nossa tag avatar -->
    @if (this.localUser$ | async; as userComponentPai) {
      <!-- O Input é a forma que uma component PAI tem de passar dados para componente filho -->
      <app-avatar [localUserComponentFilho]="userComponentPai">

      </app-avatar>
    }
  </nav>
</header>