<div class="container">
  <h1>Aula de Tabelas Dinâmicas</h1>
  <!-- Tabela Promise -->
  <section class="card">
    <div class="topo">
    <h2>Promise - Then / Catch</h2>
    <button (click)="this.carregarPromise()">Carregar Dados</button>
    </div>

    <!-- Criando um IF -->
    @if(errorPromise.errorAsync) {
    <table>
    <tbody>
    <tr>
    <td class="sem-dados">No Data + {{ this.errorPromise.errorNome }}</td>
    </tr>
    </tbody>
    </table>
  }

    @else {
    <table>
    <thead>
    <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Ativo</th>
    <th>Salario</th>
    <th>Data de Registro</th>
    <th>Departamento</th>
    </tr>
</thead>
<tbody>
@for (item of localUserPromise; track $index ){
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.email}}</td>
    <td>{{item.idade}}</td>
    <td>{{item.ativo}}</td>
    <td>{{item.salario}}</td>
    <td>{{item.dataRegistro | date }}</td>
    <td>{{item.departamento}}</td>
    </tr>
    } <!-- fim do for -->
</tbody>
</table>
}<!-- fim else -->
  
  </section>


    <!--Nossa 2ª tabela de Promise-->
<section class="card">
    <div class="topo">
    <h2>Promise -Async & Await</h2>
    <button (click)="carregarAsyncAwaitPromise()">Carregar Dados</button>
    </div>
    

@if(errorAsyncAwaitPromise.errorAsync) {
    <table>
    <tbody>
    <tr>
    <td class="sem-dados">No Data + {{ this.errorAsyncAwaitPromise.errorNome }}</td>
    </tr>
    </tbody>
    </table>
} @else {
    <table>
    <thead>
    <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Ativo</th>
   <th>Salario</th>
<th>Data de Registro</th>
<th>Departamento</th>
</tr>
</thead>
<tbody>
@for (item of this.localUserAsyncPromise; track item.id ) {
    {{item}}
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.email}}</td>
    <td>{{item.idade}}</td>
    <td>{{item.ativo}}</td>
    <td>{{item.salario}}</td>
    <td>{{item.dataRegistro}}</td>
    <td>{{item.departamento}}</td>
    </tr>
}// fim do for
</tbody>
</table>
}
</section>


  <!--Nossa 3ª tabela-->
<section class="card">
  <div class="topo">
    <h2> Observable com Subscribe</h2>
    <button (click)="this.carregarObservable()">Carregar dados </button>
  </div>

  @if (errorObservable.errorAsync) {
    <table>
    <tbody>
    <tr>
    <td class="sem-dados">No Data + {{ this.errorObservable.errorNome }}</td>
    </tr>
    </tbody>
    </table>
} @else {
    <table>
    <thead>
    <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Ativo</th>
   <th>Salario</th>
<th>Data de Registro</th>
<th>Departamento</th>
    </thead>



    <tbody>

      @for (item of localUserSubscrition; track $index) {
<tr>
    <td>{{item.id}}</td>
    <td>{{item.email}}</td>
    <td>{{item.idade}}</td>
    <td>{{item.ativo}}</td>
    <td>{{item.salario}}</td>
    <td>{{item.dataRegistro | date}}</td>
    <td>{{item.departamento}}</td>
    </tr>


      }

    </tbody>
    </table>
  }

</section>
</div>
