<p>tag-listas works!</p>
<h1>Esta é as minhas tags Listas</h1>

<p>Minha lista Não Ordenada Estática</p>
<ul>
    <li>Nossa Linha 1</li>
    <li>Nossa Linha 2</li>
</ul>


<p>Minha Lista Ordenada Estática</p>
<ol>
    <li>Nossa Linha</li>
    <li>Nossa Linha</li>
    <li>Nossa Linha</li>
</ol>


<p> <strong>Minha Lista Não Ordenada Dinâmica</strong></p>
<ul>
    @for (item of this.minhaLista; track $index) {
        <!-- interpolação no Angular é chamado de properyBind {{}}  -->
        
    <li> {{ "Minha Lista: " + item.toLocaleUpperCase()}}</li>
    }
    
</ul>


<p><strong>Minha Lista Ordenada Dinâmica</strong></p>

<ol>

    @for (data of this.minhaListaJS; track $index) {

    <li>{{data + "Minha Lista"}} </li>

    }
    
</ol>